@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: Poppins;
  border: none;
  outline: none;
  padding: 0;
  box-sizing: border-box;
}

.center {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 50px;

  @media (max-width: 800px) {
    padding: 0 10px;
  }
}